body {
	font-family: Roboto, sans-serif;
	padding: 0;
	margin: 0;
	color: #333;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, p {
	margin-top: 0;
}

p {
	margin-bottom: 25px;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	padding: 0 0 0 0;
	margin: 0 0 4px 0;
	font-size: 16px;
}

nav ul li a {
	display: block;
	color: #333;
}

nav ul li a::before {

}

nav ul li a:hover {
	text-decoration: none;
	color: #4183c4;
}

nav ul li ul {
	margin-top: 10px;
}

nav ul li ul li a {
	padding: 4px 0 0 10px;
}

nav ul li ul li a::before {
	content: '';

}

nav ul li.level-0 {
	font-size: 20px;
}

code {
	padding: 0 !important;
	background: none !important;
}

.clear { clear: both; }

#wrapper {
	width: 100%;
	margin: 0;
}

#nav-wrapper {
	padding: 60px 40px 40px;
	background: #F9F9F9;
	height: 100%;
	position: fixed;
	border-right: 2px solid #F4F4F4;
}

#content-wrapper {
	float: left;
	width: 720px;
	padding-left: 28px;
	min-height: 600px;
	padding-top: 47px;
	margin-left: 235px;
}

#wrapper pre {
	background: #F4F4F4;
	padding: 15px;
	overflow: auto;
}

#wrapper code.inline {
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0 3px 0 0;
	background-color: #F4F4F4;
	border-radius: 3px;
}

#wrapper blockquote {
	padding: 0 15px;
	color: #777;
	margin: 0;
	border-left: 4px solid #F4F4F4;
}

#wrapper .highlight {
	margin-bottom: 30px;
}

#wrapper hr {
	height: 4px;
	padding: 0;
	margin: 16px 0;
	background-color: #F4F4F4;
	border: 0 none;
}

.tabs {

}

.tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tabs ul:after {
	content:'';
	display:block;
	clear: both;
}

.tabs ul li {
	float: left;
	padding: 7px 20px;
	margin: 0 5px 0 0;
}

.tabs ul li a {
	color: #333;
}

.tabs ul li a:hover {
	text-decoration: none;
}

.tabs ul li.active {
	background-color: #F4F4F4;
}

.tabs ul li.active a {
	font-weight: bold;
}

.tabs > .tab-content {
	border: 1px solid #F4F4F4;
	clear: both;
	padding: 15px 5px;
	background-color: #F4F4F4;
}

.tabs > .tab-content > div {
	display: none;
}

.tabs > .tab-content > div:first-child {
	display: block;
}

.tabs > .tab-content > div .highlight,
.tabs > .tab-content > div pre {
	margin: 0 !important;
}

#wrapper .tabs > .tab-content .highlight {
	margin-bottom: 0;
}