body {
	font-family: Roboto, sans-serif;
	border-top: 4px solid #EEE;
	padding: 0;
	margin: 0;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, p {
	margin-top: 0;
}

p {
	margin-bottom: 25px;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	padding: 0 0 0 0;
	margin: 0 0 4px 0;
	font-size: 16px;
}

nav ul li a {
	display: block;
	text-align: right;
	padding-right: 15px;
	color: #000;
}

nav ul li ul {
	margin-top: 15px;
}

nav ul li ul li a {
	padding: 4px;
	background-color: #F1F1F1;
	color: #4183c4;
	text-align: left;
}

nav ul li.level-0 {
	font-size: 20px;
}

.clear { clear: both; }

#wrapper {
	width: 920px;
	margin: 20px 0 0 40px;
}

#nav-wrapper {
	width: 170px;
	float: left;
	padding-top: 60px;
}

#content-wrapper {
	float: left;
	width: 720px;
	border-left: 2px solid #ddd;
	padding-left: 28px;
	min-height: 600px;
}

#wrapper pre {
	background: #F1F1F1;
	padding: 15px;
	overflow: auto;
}

#wrapper code.inline {
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0 3px 0 0;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
}

#wrapper blockquote {
	padding: 0 15px;
	color: #777;
	margin: 0;
	border-left: 4px solid #ddd;
}

#wrapper .highlight {
	margin-bottom: 30px;
}

#wrapper hr {
	height: 4px;
	padding: 0;
	margin: 16px 0;
	background-color: #e7e7e7;
	border: 0 none;
}

.tabs {

}

.tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tabs ul:after {
	content:'';
	display:block;
	clear: both;
}

.tabs ul li {
	float: left;
	padding: 4px 15px;
	margin: 0 0 0 5px;
	border-width: 1px 1px 0 1px;
	border-color: #e7e7e7;
	border-style: solid;
}

.tabs ul li.active {
	position: relative;
	top: 1px;
	background-color: #F1F1F1;
	margin-top: -1px;
	padding-bottom: 5px;
}

.tabs > .tab-content {
	border: 1px solid #e7e7e7;
	clear: both;
	padding: 15px 5px;
	background-color: #F1F1F1;
}

.tabs > .tab-content > div {
	display: none;
}

.tabs > .tab-content > div:first-child {
	display: block;
}

.tabs > .tab-content > div .highlight,
.tabs > .tab-content > div pre {
	margin: 0 !important;
}